.large-heading {
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
}

.big-heading {
  font-weight: 700;
  font-size: 36px;
}

.small-heading {
  font-weight: 700;
  font-size: 24px;
}

.smaller-heading {
  font-weight: 700;
  font-size: 21px;
}

.primary-text {
  font-weight: 300;
  font-size: 21px;
  line-height: 32px;
}

.secondary-text {
  font-weight: 300;
  font-size: 18px;
}

.small-text {
  font-weight: 300;
  font-size: 16px;
}

.caption {
  font-weight: 400;
  font-size: 18px;
}

.quote {
  font-weight: 400;
  font-size: 19px;
}

.quote-of {
  font-weight: 700;
  font-size: 22px;
}
